*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color:#FFFFFF;
    --primary-color:#092F45;
    --second-color:#06A1B4;
    --third-color:#00ECDE;
    --fourth-color:#32EE88;
    --fifth-color:#676767;
}
h1,h2{
    font-family: "Justo", sans-serif;
}
p,a,li{
    font-family: 'poppins';
}

/* ------------------NAV------------------ */

.container-fluid{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.img-nav{
    height: 85px;
    margin: 15px;
}

.navbar{
    position: fixed;
    padding: 0;
    width: 100%;
}

.navbar-nav{
    margin-left:28%;
    gap: 20px;
}

.nav-link{
    font-size: 24px;
    font-weight: 500;
    color: var(--background-color);
}

.nav-link:hover{
    border-bottom: solid var(--background-color);
    padding: 0;
    color: var(--background-color);
}

.navbar .nav-link.active {
    color: var(--background-color); 
}

.vr{
    color: var(--background-color);
    width: 2px;
    opacity: 8;
}
.vr2{
    height: 300px;
    background-color:var(--background-color);
    margin-top: 15px;
}
.horizontal{
    width: 90%;
    background-color: var(--background-color);
    height: 1px;
    display: none;
    margin-bottom: 10px;
}
.dropdown-menu{
    background-color: var(--primary-color);
}

.dropdown-item{
    color: var(--background-color);
    font-size: 20px;
}

.dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    
}

.dropdown-item a:hover{
    border-bottom: 1px solid var(--background-color);
}

.dropdown-menu:hover{
    scale: 1.05;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* --------------------SERVICE VETERINARY---------------- */

.vet-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 10% 0 5% 0;
}

.title-vet h1{
    text-align: center ;
    font-size: 3.5rem;
    font-weight: 550;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.title-vet p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.line-vet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2% 0;
}

.line-vet2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1.5% 0;
}

.line{
    width: 95%; 
    background-color: #676767;
    border-top: 1px solid #000000;
}

.line2{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border: white 1px solid;
}

.line3{
    width: 95%;
    background-color: #676767;
    border-top: 1px solid #000000;
}

.container-vet{
    width: 100%;
    height: 700px;
    display: flex;
    padding: 0 5% 0 5%;
    gap: 5%;
}

.box-vet{
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.info-vet{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 10px;
}

.text-vet{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}
.hide{
    display: none;
}
.objetive{
    text-align: center ;
    font-size: 2.0rem;
    font-weight: 550;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.container-button-vet{
    width: 40%;
    height: auto;
    object-fit: contain;
}

.btn2{
    background-color: var(--primary-color);
    border-radius: 40px;
    border: none;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 50px;
}

.btn2:hover{
    background-color: var(--second-color);
}


.container-img-vet{
    width: 35%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 0% 0% 0% 5%;
    flex-direction: column;
}

.container-img-vet{
    height: 600px;
}

.img-vet1{
    width: 300px;
    height: 300px;
    border-radius: 360px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.img-vet2{
    width: 300px;
    height: 300px;
    border-radius: 360px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}


.consultation{
    padding: 5% 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-consultation{
    width: 120px;
    background-size: cover;
    object-fit: cover;
}

.esthetic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-esthetic{
    width: 100px;
    background-size: cover;
    object-fit: cover;
}

.surgery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-surgery{
    width: 100px;
    background-size: cover;
    object-fit: cover;

}


/* ------------------SLIDER------------- */

.container2{
    width: 100%;
    overflow: hidden;
    z-index: -1;
    gap: 0px;
}

#title-client{
    text-align: center ;
    font-size: 3.5rem;
    font-weight: 550;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.slider-container{
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.text-pets p{
    font-size: 22px;
}

.content-slider{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-shrink: 0;
}

.content-pets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pets{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.img-pets1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota1.jpeg);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota2.jpg);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets3{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota3.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets4{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota4.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets5{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota5.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets6{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota6.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets7{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota7.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets8{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota8.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.img-pets9{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/Img/mascota9.png);
    border-radius: 360px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.text-pets{
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 25px;
}


/* --------------FOOTER------------ */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    background-color:var(--primary-color) 
}

.img-footer{
    height: 105px;
    margin-left: 65px;
    margin-top: 50px;
    margin-right: 100px;
}

.user-footer{
    margin-top: 30px;
}

.user-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-bottom: 20px;
}

.user-footer  li{
    list-style: none;
    color: var(--background-color);
    margin-top: 10px;
}
.user-footer a{
    text-decoration: none;
    color: var(--background-color);

}

.user-footer li::before{
    content: '►';
    margin-right: 10px;
}
.social-footer h4{
    color: var(--background-color);
    font-size: 25px;
    margin-top: 20px;
}
.social-icons{
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
.mail{
    height:28px;
}

.atention-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.atention-footer li{
    color: var(--background-color);
    margin-top: 10px;
}

.btn{
    background-color: var(--second-color);
    margin-top: 30px;
    border-radius: 40px;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
}
.btn a{
    color: var(--background-color);
    text-decoration: none;
}
.btn:hover{
    background-color: var(--third-color);
    color: var(--background-color);
}
.options-footer h3{
    color: var(--background-color);
    margin-top: 15px;
}
.options-footer li{
    color: var(--background-color);
    margin-top: 10px;
    font-size: 18px;
}
.rights{
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
    padding-top: 20px; 
    border-top: 1px solid #ddd;
}
.rights p{
    color: var(--background-color);
}
.btn2 a{
    text-decoration: none;
    color: #FFFFFF;
}
/* --------------RESPONSIVE NAV AND FOOTER */

@media (max-width:1250px){
    .navbar-nav{
        margin-left:23%;
        gap: 20px;
    }
    .img-footer{
        height: 105px;
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 50px;
    }

   
}
@media (max-width:1125px){
    .footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vr2{
        display: none;
    }
    .horizontal{
        display: block;
        margin-top: 30px;
    }
    .vr{
        display: none;
    }
    .navbar-nav{
        margin-left:5%;
        gap: 0px;align-items: center;
    }
}

/* --------------RESPONSIVE------------ */
@media (max-width:1300px){
    .img-pets{
        width: 350px;
        height: 350px;
    }
    
    .content-pets{
        display: flex;
        gap: 5%;
    }

    .container-pets{
        width: 30%;
        gap: 5%;
    }

    .img-consultation{
        width: 90px;
    }

    .consultation h2{
        font-size: 22px;
    }

    .img-esthetic{
        width: 90px;
    }

    .esthetic h2{
        font-size: 22px;
    }

    .img-surgery{
        width: 90px;
    }

    .surgery h2{
        font-size: 22px;
    }
}

@media (max-width:1100px){
    .img-consultation{
        width: 90px;
    }

    .consultation h2{
        font-size: 22px;
    }

    .img-esthetic{
        width: 90px;
    }

    .esthetic h2{
        font-size: 22px;
    }

    .img-surgery{
        width: 90px;
    }

    .surgery h2{
        font-size: 22px;
    }

    .img-pets{
        width: 300px;
        height: 300px;
    }
    
    .content-pets{
        display: flex;
        gap: 5%;
    }

    .container-pets{
        width: 30%;
        gap: 5%;
    }

    .vet-service{
        padding: 120px 0 0 0;
    }
}

@media (max-width:900px){

    .img-pets{
        width: 250px;
        height: 250px;
    }
    
    .content-pets{
        display: flex;
        gap: 5%;
        margin: 0;
        padding: 0;
    }

    .container-pets{
        width: 30%;
    }

    .text-pets p{
        font-size: 15px;
    }

    .box-vet{
        width: 30%;
    }

    .info-vet{
        width: 40%;
        gap: 0px;
        margin: 0;
        padding: 0;
    }

    .text-vet{
        gap: 0px;
    }

    .text-vet p{
        font-size: 16px;
    }

    .container-img-vet{
        width: 30%;
        align-items: center;
        justify-content: center;
    }

    .img-vet1{
        width: 230px;
        height: 230px;
    }

    .img-vet2{
        width: 230px;
        height: 230px;
    }

    .container-button-vet{
        height: 50px;
        width: 120px;
        padding: 0;
        margin: 0;
    }

    .button-vet{
        height: 50px;
        width: 120px;
        object-fit: contain;
    }

    .vet-service{
        padding: 120px 0 0 0;
    }

}

@media (max-width:600px){
    .img-pets{
        width: 150px;
        height: 150px;
    }
    
    .content-pets{
        display: flex;
        gap: 8%;
        margin: 0;
        padding: 0;
    }

    .container-pets{
        width: 25%;
    }

    .text-pets p{
        font-size: 15px;
    }

    .container2{
        height: 500px;
    }

    .container-vet{
        justify-content: center;
        align-items: center;
    }

    .box-vet{
        width: 45%;
        height: 700px;
    }

    .info-vet{
        width: 50%;
        gap: 0px;
        margin: 0;
        padding: 0;
    }

    .text-vet{
        gap: 0px;
    }

    .text-vet p{
        font-size: 16px;
    }

    .container-img-vet{
        display: none;
    }

    .img-vet1{
        display: none;
    }

    .img-vet2{
        display: none;
    }

    .vet-service{
        padding: 120px 0 0 0;
    }

    .container-vet{
        height: 850px;
    }

    .container2{
        height: 400px;
        justify-content: center;
        align-items: center;
    }

    .content-pets{
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    }

    .img-consultation{
        width: 90px;
    }

    .consultation h2{
        font-size: 20px;
    }

    .img-esthetic{
        width: 90px;
    }

    .esthetic h2{
        font-size: 20px;
    }

    .img-surgery{
        width: 90px;
    }

    .surgery h2{
        font-size: 20px;
    }

}