*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    --background-color:#FFFFFF;
    --primary-color:#092F45;
    --second-color:#06A1B4;
    --third-color:#00ECDE;
    --fourth-color:#32EE88;
    --fifth-color:#676767;
}
h1,h2{
    font-family: 'righteous';
}
p,a,li{
    font-family: 'poppins';
}

/* ------------------NAV------------------ */

.container-fluid{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.img-nav{
    height: 85px;
    margin: 15px;
}

.navbar{
    position: fixed;
    padding: 0;
    width: 100%;
}

.navbar-nav{
    margin-left:35%;
    gap: 20px;
}

.nav-link{
    font-size: 24px;
    font-weight: 500;
    color: var(--background-color);
}

.nav-link:hover{
    border-bottom: solid var(--background-color);
    padding: 0;
    color: var(--background-color);
}

.navbar .nav-link.active {
    color: var(--background-color); 
}

.vr{
    color: var(--background-color);
    width: 2px;
    opacity: 8;
}
.vr2{
    height: 300px;
    background-color:var(--background-color);
    margin-top: 15px;
}
.horizontal{
    width: 90%;
    background-color: var(--background-color);
    height: 1px;
    display: none;
    margin-bottom: 10px;
}
.dropdown-menu{
    background-color: var(--primary-color);
}

.dropdown-item{
    color: var(--background-color);
    font-size: 20px;
}

.dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    
}

.dropdown-item a:hover{
    border-bottom: 1px solid var(--background-color);
}

.dropdown-menu:hover{
    scale: 1.05;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* --------------------SERVICE VETERINARY---------------- */

.vet-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 10% 0 10% 0;
}

.title-vet h1{
    text-align: center;
    font-family: "Righteous", sans-serif;
    width: 100%;
    font-weight: 800;
    color: var(--primary-color);
}

.title-vet p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.line-vet{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 95%; 
    position: absolute;
    background-color: #676767;
    border-top: 1px solid #000000;
}

.line2{
    width: 90%;
    background-color: white;
    border: white 1px solid;
}

.container-vet{
    width: 100%;
    height: 700px;
    display: flex;
    padding: 0 5% 0 5%;
    gap: 5%;
}

.box-vet{
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.info-vet{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.text-vet{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}

.container-button-vet{
    width: 40%;
}

.btn2{
    background-color: var(--primary-color);
    margin-top: 30px;
    border-radius: 40px;
    border: none;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    height: 50px;
}

.btn2:hover{
    background-color: var(--second-color);
}


.container-img-vet{
    width: 35%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 0% 0% 0% 5%;
    flex-direction: column;
}

.container-img-vet{
    height: 600px;
}

.img-vet1{
    width: 300px;
    height: 300px;
    border-radius: 360px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.img-vet2{
    width: 300px;
    height: 300px;
    border-radius: 360px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}


.consultation{
    padding: 5% 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-consultation{
    width: 120px;
    background-size: cover;
    object-fit: cover;
}

.esthetic{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-esthetic{
    width: 100px;
    background-size: cover;
    object-fit: cover;
}

.surgery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-surgery{
    width: 100px;
    background-size: cover;
    object-fit: cover;

}


/* ------------------SLIDER------------- */

.container-slider{
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 5% 0 0 0;
}

.slider input{
    visibility: hidden;
    display: none;
}

.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
}

.buttons label{
    width: 20px;
    height: 20px;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition:  300ms ease-in-out;
}

.buttons label:hover{
    scale: 1.2;
    opacity: 1;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3)
{
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}

.slider-text{
    position: relative;
    width: 300vw;
    display: flex;
    transition: 400ms ease-in-out;
}

.firstslide,.secondslide,.thirdslide{
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstslide{
    background-color: rgb(0, 123, 82);
}

.secondslide{
    background-color: brown;
}

.thirdslide{
    background-color: rgb(135, 135, 135);
}

.slider input:nth-child(1):checked ~ .content{
    left: 0;
}

.slider input:nth-child(2):checked ~ .content{
    left: -100vw;
}

.slider input:nth-child(3):checked ~ .content{
    left: -200vw;
}


/* --------------FOOTER------------ */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    background-color:var(--primary-color) 
}

.img-footer{
    height: 105px;
    margin-left: 65px;
    margin-top: 50px;
    margin-right: 100px;
}

.usuario-footer{
    margin-top: 30px;
}

.usuario-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-bottom: 20px;
}

.usuario-footer  li{
    color: var(--background-color);
    list-style: none;
    margin-top: 10px;
}

.usuario-footer li::before{
    content: '►';
    margin-right: 10px;
}
.redes-footer h4{
    color: var(--background-color);
    font-size: 25px;
    margin-top: 20px;
}
.redes-icons{
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
.correo{
    height:28px;
}

.atencion-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.atencion-footer li{
    color: var(--background-color);
    margin-top: 10px;
}

.btn{
    background-color: var(--second-color);
    margin-top: 30px;
    border-radius: 40px;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
}
.opciones-footer h3{
    color: var(--background-color);
    margin-top: 15px;
}
.opciones-footer li{
    color: var(--background-color);
    margin-top: 10px;
    font-size: 18px;
}
.derechos {
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
    padding-top: 20px; 
    border-top: 1px solid #ddd;
}
.derechos p{
    color: var(--background-color);
}

@media (max-width:1250px){
    .navbar-nav{
        margin-left:23%;
        gap: 10px;
    }
    .img-footer{
        height: 105px;
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 50px;
    }

   
}
@media (max-width:1125px){
    .footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vr2{
        display: none;
    }
    .horizontal{
        display: block;
        margin-top: 30px;
    }
    .vr{
        display: none;
    }
    .navbar-nav{
        margin-left:5%;
        gap: 0px;align-items: center;
    }
}

