*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
:root{
    --background-color:#FFFFFF;
    --primary-color:#092F45;
    --second-color:#06A1B4;
    --third-color:#00ECDE;
    --fourth-color:#32EE88;
    --fifth-color:#676767;
}
h1,h2{
    font-family: "Justo", sans-serif;
}
p,a,li{
    font-family: 'poppins';
}
/* ----------------------------Nav----------------------------------- */
.container-fluid{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    margin: 0;
}
.img-nav{
    height: 85px;
    margin: 15px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 200;
    padding: 0;
}

.navbar-nav{
    margin-left:45%;
    gap: 20px;
}

.nav-link{
    font-size: 24px;
    font-weight: 500;
    color: var(--background-color);
}

.nav-link:hover{
    border-bottom: solid var(--background-color);
    padding: 0;
    color: var(--background-color);
}

.navbar .nav-link.active {
    color: var(--background-color); 
}

.vr{
    color: var(--background-color);
    width: 2px;
    opacity: 8;
}
.vr2{
    height: 300px;
    background-color:var(--background-color);
    margin-top: 15px;
}
.horizontal{
    width: 90%;
    background-color: var(--background-color);
    height: 1px;
    display: none;
    margin-bottom: 10px;
}
.horizontal2{
    width: 90%;
    background-color:var(--second-color);
    height: 1px;
    margin-left: 110px;
}
.dropdown-menu{
    background-color: var(--primary-color);
}

.dropdown-item{
    color: var(--background-color);
    font-size: 20px;
}

.dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    
}

.dropdown-item a:hover{
    border-bottom: 1px solid var(--background-color);
}

.dropdown-menu:hover{
    scale: 1.05;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* -------------------------------slider--------------------------- */
.contenedor{
    width: 100%;
    overflow: hidden;
    z-index: -1;
    gap: 0px;
}

.slider-contenedor{
    width: 100%;
    display: flex;
    margin-top: 40px;
    
}

.contenido-slider{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider  img{
    width: 40%;
    height: 390px;
    margin-top: 50px;
    object-fit: contain;
    background-size: cover;
    
}

.information-notices{
    width: 40%;
}

.information-notices h2{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 35px;
    font-family: "Justo", sans-serif
    
}
.information-notices p{
    margin-top: 30px;
    font-size: 25px;
}
.btn-notices{
    height: 50px;
    width: 150px;
    font-size: 25px;
    color: var(--background-color);
    background-color: var(--second-color);
    border-radius: 30px;
    border: none;
    margin-top: 40px;
}
.btn-notices:hover{
    scale: 1.06;
    transition: .5s;
}
/* -----------------------Servicios Destacados-------------------------------- */
.services-outstanding {
    z-index: -1;
    background-image: url(./assets/Img/fondo.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.services-outstanding h1{
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3.2rem;
    margin-top: 50px;
    padding-top: 30px;
}
.slider{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    top: 70px;
    z-index: 99;
}
.item{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 470px;
    text-align: justify;
    background-color:#138c9c41;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(45% - 110px);
    top: 0px;
}
.item img{
    height: 80px;
    margin-top: 40px;
    
}
.item h1{
    text-align: center;
    font-family: "Justo", sans-serif;
    font-size: 40px;
    font-weight: 550;
    margin: 0;
    margin-bottom: 30px;
    color: var(--primary-color);

}
.item p{
    font-family: "poppins";
    font-size: 17px;
    text-align: start;
    padding-left: 30px;
    font-weight: 550;
}
#next, #prev{
    position: absolute;
    top: 38%;
    height: 50px;
    left:350px;
}
#next{
    left: unset;
    right: 350px;
}
/* ----------------------------------------------------------- */
/* ---------------------------Planes de afiliacion-------------------------------- */
#title-plans{
    text-align: center;
    margin-top: 20px;
    font-size: 3.2rem;
    font-family: "Justo", sans-serif;
    color: var(--primary-color);
    font-weight: 550;
}
.plans{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 40px;
    height: auto;
}
.card{
    width: 22%;
    height: auto;
    background-color:#abb3b875 ;
    border: none;
}
.card:hover{
    scale: 1.08;
    transition: .5s;
}
.card1{
    margin-top: 40px;
    height: auto;
}
.card-1{
    height: 400px;
    border-radius: 25px;

}
.card-2{
    height: 520px;
    margin-bottom: 60px;
    border-radius: 25px;
}
.card-3{
    height: 490px;
    border-radius: 30px;
    margin-top: 20px;
}
.card-title{
    color: #2c2c2c;
    font-size: 23px;
    padding: 10px 20px ;
}
.card-subtitle{
    color: black;
    font-size: 40px;
    padding:  0 20px;
    margin-bottom: 20px;
}
.card-subtitle b{
    color: #676767;
    font-size: 18px;
}

.card-body li{
    font-size: 19px;
    padding:  0 15px;
    font-family: "poppins";
    
}
.card-link{
    background-color: var(--second-color);
    width: 90%;
    text-align: center;
    text-decoration: none;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: var(--background-color);
    font-weight: 500;
    font-size: 20px;
    margin: 50px 15px 0 15px;
    position: sticky;
    
}
.card-link:hover{
    scale: 1.05;
    transition: .5s;
}
/* ------------------------Footer--------------------------- */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    background-color:var(--primary-color) 
}

.img-footer{
    height: 105px;
    margin-left: 65px;
    margin-top: 50px;
    margin-right: 100px;
}

.user-footer{
    margin-top: 30px;
}

.user-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-bottom: 20px;
}

.user-footer  li{
    color: var(--background-color);
    list-style: none;
    margin-top: 10px;
}

.user-footer li::before{
    content: '►';
    margin-right: 10px;
}
.social-footer h4{
    color: var(--background-color);
    font-size: 25px;
    margin-top: 20px;
}
.social-icons{
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
.mail{
    height:28px;
}

.atention-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.atention-footer li{
    color: var(--background-color);
    margin-top: 10px;
}

.btn{
    background-color: var(--second-color);
    margin-top: 30px;
    border-radius: 40px;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--third-color);
    color: var(--background-color);
}
.options-footer h3{
    color: var(--background-color);
    margin-top: 15px;
}
.options-footer li{
    color: var(--background-color);
    margin-top: 10px;
    font-size: 18px;
}
.rights{
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
    padding-top: 20px; 
    border-top: 1px solid #ddd;
}
.rights p{
    color: var(--background-color);
}
/* ---------------------Ventana emergente--------------- */
.popup {
    display:none ; 
    position: fixed; 
    z-index: 999; 
    width: 100%;
    height: 100%;
    top: 30;
    background-color:#092f459c; 
}

.popup-content {
    background-color: #06A1B4;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}
.popup-content h1{
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--background-color);
    margin-top: 40px;
}
.popup-content p{
    font-size: 30px;
    margin-top: 30px;
    font-weight: 510;
}
<<<<<<< HEAD
.popup-content a{
=======
.popup-content button {
>>>>>>> c61daf6685150c2c7cb4f0e5a5c510c11bcb1e77
    border: none;
    background-color: var(--primary-color);
    font-size: 20px;
    width: 40%;
    height: 15%;
<<<<<<< HEAD
    border-radius: 30px;
    padding: 15px;
    text-decoration: none;
=======
    border-radius: 20px;
    margin-top: 40px;
    
}
.popup-content a{
    text-decoration: none;
    color: var(--background-color);
>>>>>>> c61daf6685150c2c7cb4f0e5a5c510c11bcb1e77
}
.close {
    color: #092F45;
    height: 40px;
    width: 40px;
    float: inline-end;
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 90px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* -------------------------------------Responsive--------------------- */
@media (max-width:1650px){
    .navbar-nav{
        margin-left:23%;
        gap: 10px;
    }
    .img-footer{
        height: 105px;
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 50px;
    }
    .contenido-slider {
        height: 500px;
    }
    
    .contenido-slider div{
        width: 40%;
        height: auto;
    }
    
    .contenido-slider h2{
        font-size: 33px;
    }
    #prev {
        left:250px;
    }

    #next {
        right: 250px;   
    }
    .information-notices {
        width: 100%;
    }

    .information-notices h2 {
        font-size: 38px;
        width: 100%;
        margin-top: 40px;
    }

    .information-notices p {
        font-size: 18px;
        width: 100%;
    }

    .btn-notices {
        width: 100px;
        font-size: 20px;
        
    }
    #title-plans {
        font-size: 2.8rem;
    }

    .card {
        width: 28%;
    }
    .popup-content {
        width: 70%;
    }
    
    .popup-content h1 {
        font-size: 3.2rem;
    }
    
    .popup-content p {
        font-size: 28px;
    }
    
    .popup-content button {
        font-size: 18px;
        width: 45%;
        height: 17%;
    }
    
}
@media (max-width:1225px){
    .footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vr2{
        display: none;
    }
    .horizontal{
        display: block;
        margin-top: 30px;
    }
    .horizontal2{
       margin-left: 30px;
    }
    .vr{
        display: none;
    }
    .navbar-nav{
        margin-left:5%;
        gap: 0px;align-items: center;
    }
    .social-footer h4{
        margin-left: 20px;
    }
    .social-icons{
        
        margin-left: 20px;
        
    }  
    .user-footer  li{
        margin-right: 80px;;
    }
    .user-footer h3{
        margin-left:30px ;
    }
    .information-notices h2 {
        margin-top: 40px; 
        font-size: 30px;
    }
    #prev {
        left:150px;
    }

    #next {
        right: 80px;
    }
    .information-notices {
        width: 100%;
    }

    .information-notices h2 {
        font-size: 38px;
        width: 100%;
        margin-top: 100px;
    }

    .information-notices p {
        font-size: 18px;
        width: 100%;
    }

    .btn-notices {
        width: 100px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    #title-plans {
        font-size: 2.5rem;
    }

    .card {
        width: 65%;
        height: auto;
    }
    .plans {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .popup-content {
        width: 80%;
    }
    
    .popup-content h1 {
        font-size: 2.8rem;
    }
    
    .popup-content p {
        font-size: 24px;
    }
    
    .popup-content button {
        font-size: 16px;
        width: 50%;
        height: 20%;
    }
}



/* Media query para tablets */
@media (max-width: 900px) {
    .contenido-slider {
        flex-direction: column;
        height: auto;
        gap: 0px;
        width: 100%;
    }

    .contenido-slider img {
        width: 80%;
        height: auto;
        margin-top: 120px;
    }

    .information-notices {
        width: 100%;
    }

    .information-notices h2 {
        font-size: 38px;
        width: 100%;
    }

    .information-notices p {
        font-size: 18px;
        width: 100%;
    }

    .btn-notices {
        width: 100px;
        font-size: 20px;
    }

    .slider {
        height: 800px;
        
    }

    .item {
        width: 50%;
        height: auto;
        padding: 10px;
        
    }

    #next, #prev {
        height: 40px;
        
    }
    
    #prev {
        left:150px;
        top: 250px;
    }
    
    #next {
        right: 50px;
        top: 250px;
        
    }
    #title-plans {
        font-size: 2rem;
    }
    
    .plans {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .card {
        width: 80%;
        height: auto;
    }
    .card-2{
        margin-bottom: 0;
    }
    .card-3{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .card-title {
        font-size: 20px;
    }
    
    .card-subtitle {
        font-size: 30px;
    }
    
    .card-body li {
        font-size: 16px;
    }
    
    .card-link {
        font-size: 18px;
        margin: 30px 10px 0 10px;
    }
    .popup-content {
        width: 90%;
        height: auto;
        margin-top: 40%;
    }
    
    .popup-content h1 {
        font-size: 2.4rem;
    }
    
    .popup-content p {
        font-size: 20px;
        margin-bottom: 0;
    }
    
    .popup-content button {
        font-size: 14px;
        width: 40%;
        height: 50%;
        
    }
    
    .close {
        font-size: 35px;
    }
}

/* Media query para móviles */
@media (max-width: 720px) {
    .contenido-slider {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .contenido-slider img {
        width: 70%;
        height: auto;
        margin-top: 130px;
    }

    .information-notices {
        width: 100%;
     
    }

    .information-notices h2 {
        font-size: 34px;
    }

    .information-notices p {
        font-size: 20px;
    }

    .btn-notices {
        width: 90px;
        font-size: 12px;
    }

    .slider {
        height: 700px;
    }

    .item {
        width: 50%;
        height: auto;
        padding: 5px;
    }
    .item h1{
        font-size: 30px;
    }

    #next, #prev {
        height: 30px;
    }
    #prev{
        left:60px;
    }

    #next {
        right: 70px;
    }
    #title-plans {
        font-size: 2.5rem;
    }
    
    .plans {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .card {
        width: 70%;
    }
}









