*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --background-color:#FFFFFF;
    --primary-color:#092F45;
    --second-color:#06A1B4;
    --third-color:#00ECDE;
    --fourth-color:#32EE88;
    --fifth-color:#676767;
}
h1,h2{
    font-family: 'righteous';
}
p,a,li{
    font-family: 'poppins';
}
.container-fluid{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.img-nav{
    height: 85px;
    margin: 15px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 22;
    padding: 0;
}

.navbar-nav{
    margin-left:50%;
    gap: 20px;
}

.nav-link{
    font-size: 24px;
    font-weight: 500;
    color: var(--background-color);
}

.nav-link:hover{
    border-bottom: solid var(--background-color);
    padding: 0;
    color: var(--background-color);
}

.navbar .nav-link.active {
    color: var(--background-color); 
}

.vr{
    color: var(--background-color);
    width: 2px;
    opacity: 8;
}
.vr2{
    height: 300px;
    background-color:var(--background-color);
    margin-top: 15px;
}
.horizontal{
    width: 90%;
    background-color: var(--background-color);
    height: 1px;
    display: none;
    margin-bottom: 10px;
}
.dropdown-menu{
    background-color: var(--primary-color);
}

.dropdown-item{
    color: var(--background-color);
    font-size: 20px;
}

.dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    
}

.dropdown-item a:hover{
    border-bottom: 1px solid var(--background-color);
}

.dropdown-menu:hover{
    scale: 1.05;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* -----------------ABOUT------------------- */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: auto;
    padding: 10% 0 5% 0;
    background-image: url(assets/Img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-about h1{
    text-align: center;
    font-family: "Righteous", sans-serif;
    width: 100%;
    font-weight: 800;
    color: var(--primary-color);
}

.title-about p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}

.line-about{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 95%; 
    position: absolute;
    background-color: #676767;
    border-top: 1px solid #000000;
}

.general-objective{
    padding: 0% 7% 0% 7%;
    display: flex;
    gap: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h1{
    font-weight: 800;
    font-size: 50px;
    color: var(--primary-color);
}

.text-general{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    text-align: left;
}

.text-general h1{
    text-align: left;
}

.img-general{
    width: 50%;
    height: auto;
}

.mission{
    padding: 0% 7% 0% 7%;
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-mission{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2%;
    font-size: 20px;
}

.img-mission{
    width: 50%;
    height: auto;
}

.img-mission2{
    width: 50%;
    height: auto;
    display: none;
}

.vision{
    padding: 0% 7% 4% 7%;
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-vision{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2%;
    font-size: 20px;
}

.img-vision{
    width: 50%;
    height: auto;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.roles-about{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 2% 0% 2%;
}

.roles{
    text-align: center;
    width: 20%;
    height: 200px;
}

.roles h3{
    font-weight: 500;
    font-size: 25px;
}

.roles h4{
    font-weight: 400;
    font-size: 20px;
}


.user-about{
    width: 100px;
    height: 100px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
    background-color:var(--primary-color) 
}

.img-footer{
    height: 105px;
    margin-left: 65px;
    margin-top: 50px;
    margin-right: 100px;
}

.user-footer{
    margin-top: 30px;
}

.user-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-bottom: 20px;
}

.user-footer  li{
    color: var(--background-color);
    list-style: none;
    margin-top: 10px;
}

.user-footer li::before{
    content: '►';
    margin-right: 10px;
}
.social-footer h4{
    color: var(--background-color);
    font-size: 25px;
    margin-top: 20px;
}
.social-icons{
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}
.mail{
    height:28px;
}

.atention-footer h3{
    color: var(--background-color);
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.atention-footer li{
    color: var(--background-color);
    margin-top: 10px;
}

.btn{
    background-color: var(--second-color);
    margin-top: 30px;
    border-radius: 40px;
    margin-left: 5px;
    color: var(--background-color);
    font-size: 15px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--third-color);
    color: var(--background-color);
}
.options-footer h3{
    color: var(--background-color);
    margin-top: 15px;
}
.options-footer li{
    color: var(--background-color);
    margin-top: 10px;
    font-size: 18px;
}
.rights{
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
    padding-top: 20px; 
    border-top: 1px solid #ddd;
}
.rights p{
    color: var(--background-color);
}

.hidden-roles{
    display: none;
}

.hidden-roles2{
    display: none;
}

@media (max-width:1550px){
    .navbar-nav{
        margin-left:40%;
        gap: 10px;
    }
    .img-footer{
        height: 105px;
        margin-left: 25px;
        margin-top: 50px;
        margin-right: 50px;
    }

    .img-mission2{
        display: none;
        width: 60%;
    }

    .img-mission{
        display: block;
        width: 60%;
    }

    .img-general{
        width: 60%;
    }

    .img-vision{
        width: 60%;
    }

}

@media (max-width:1100px){


    .footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .vr2{
        display: none;
    }
    .horizontal{
        display: block;
        margin-top: 30px;
    }
    .vr{
        display: none;
    }
    .navbar-nav{
        margin-left:5%;
        gap: 0px;align-items: center;
    }
    .social-footer h4{
        margin-left: 20px;
    }
    .social-icons{
        margin-left: 20px;
    }  
    .user-footer  li{
        margin-right: 80px;
    }
    .user-footer h3{
        margin-left:30px ;
    }

    .about{
        padding: 20% 0 0 0%;
    }

    .text-general h1{
        text-align: center;
    }

    .general-objective{
        flex-direction: column;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .img-mission{
        display: none;
    }

    .mission{
        flex-direction: column;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .vision{
        flex-direction: column;
        width: 100%;
        padding: 0 0 10% 0;
        text-align: center;
    }

    .img-mission2{
        display: block;
        width: 90%;
    }

    .img-general{
        width: 90%;
    }

    .img-vision{
        width: 90%;
    }

    .img{
        width: 100%;
    }

    .text-general{
        width: 90%;
    }

    .text-mission{
        width: 90%;
    }

    .text-vision{
        width: 90%;
    }

    .roles-about{
        display: none;
    }

    .hidden-roles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hidden-roles2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container-hidden-roles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 0 10% 0;
    }

    .rol{
        width: 100%;
        height: 200px;
        text-align: center;
    }
}






@media (max-width:1300px){
    .about{
        padding: 12% 0 0 0;
    }

}

@media (max-width:900px){
    .about{
        padding: 30% 0 0 0%;
    }
}



